.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: Montserrat;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
}

.container {
    background-color: hsl(0, 0%, 100%);
}

.new-price {
    color: hsl(158, 36%, 37%);
}

.add-to-cart {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
}

h1, 
.new-price {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 2rem;
}

.price, 
.add-to-cart {
    display: flex;
    align-items: center;
}